-
    var stData = {
        profileSocials: [
            {
                productid:   'https://vk.com/temeteron',
                title:  'Vkontakte',
                icon:   'vk'
            },{
                productid:   'http://github.com/twopix',
                title:  'GitHub',
                icon:   'github'
            },{
                productid:   'https://gr.linkedin.com/in/melidis',
                title:  'LinkedIn',
                icon:   'in'
            }
        ],
        products: [
            {
                'productid': '74',
                'left': {
                    'ahref': 'http://teploceramic.pro/image/cache/catalog/TCM%20400/%20370-500x500.jpg',
                    'imgsrc': 'http://teploceramic.pro/image/cache/catalog/TCM%20400/%20370-190x210.jpg',
                    'alt': 'Ceramic heater',
                    'ul': [{
                            'ahref': 'http://teploceramic.pro/image/cache/catalog/TC_370/TC_370_beige/%20370_1-500x500.jpg',
                            'imgsrc': 'http://teploceramic.pro/image/cache/catalog/TC_370/TC_370_beige/%20370_1-50x50.jpg',
                            'alt': 'Ceramic heater'
                        },
                        {
                            'ahref': 'http://teploceramic.pro/image/cache/catalog/TC_370/TC_370_black/bsgat-500x500.jpg',
                            'imgsrc': 'http://teploceramic.pro/image/cache/catalog/TC_370/TC_370_black/bsgat-50x50.jpg',
                            'alt': 'Ceramic heater'
                        }
                    ]
                },
                'middle': {
                    'type': 'Ceramic heater',
                    'model': 'ТС-370',
                    'select': [{
                            'value': '74',
                            'data-description': '74',
                            'data-imagesrc': 'images/white.png',
                            'name': 'Beige'
                        },
                        {
                            'value': '74',
                            'data-description': '74',
                            'data-imagesrc': 'images/beg4905.png',
                            'name': 'ТС-370 '
                        }
                    ]
                },
                'table': {
                    'Capacity': '370 W',
                    'Area': '7 m2',
                    'Regulator': '',
                    'Size': '600х600х11 mm',
                    'Voltage': '220 V'
                }
            },
            {
                'productid': '73',
                'left': {
                    'ahref': 'http://teploceramic.pro/image/cache/catalog/TCM%20400/%20370%20черный%201-500x500.jpg',
                    'imgsrc': 'http://teploceramic.pro/image/cache/catalog/TCM%20400/%20370%20черный%201-190x210.jpg',
                    'alt': 'Керамический обогреватель',
                    'ul': [{
                            'ahref': 'http://teploceramic.pro/image/cache/catalog/TC_370/TC_370_black/bsgat-500x500.jpg',
                            'imgsrc': 'http://teploceramic.pro/image/cache/catalog/TC_370/TC_370_black/bsgat-50x50.jpg',
                            'alt': 'Керамический обогреватель'
                        },
                        {
                            'ahref': 'http://teploceramic.pro/image/cache/catalog/TC_370/TC_370_black/%20370%20черный%203-500x500.jpg',
                            'imgsrc': 'http://teploceramic.pro/image/cache/catalog/TC_370/TC_370_black/%20370%20черный%203-50x50.jpg',
                            'alt': 'Керамический обогреватель'
                        }
                    ]
                },
                'middle': {
                    'type': 'Ceramic heater',
                    'model': 'TC-370',
                    'select': [{
                            'value': '73',
                            'data-description': '73',
                            'data-imagesrc': 'images/white.png',
                            'name': 'White'
                        },
                        {
                            'value': '51',
                            'data-description': '73',
                            'data-imagesrc': 'images/black.png',
                            'name': 'Black '
                        }
                    ]
                },
                'table': {
                    'Capacity': '370 W',
                    'Area': '7 m2',
                    'Regulator': '',
                    'Size': '600х600х11 mm',
                    'Voltage': '220 V'
                }
            },
            {
                'productid': '62',
                'left': {
                    'ahref': 'http://teploceramic.pro/image/cache/catalog/TCM%20400/%20370-500x500.jpg',
                    'imgsrc': 'http://teploceramic.pro/image/cache/catalog/TCM%20400/%20370-190x210.jpg',
                    'alt': ' Ceramic heater ТСМ',
                    'ul': [{
                            'ahref': 'http://teploceramic.pro/image/cache/catalog/TCM%20400/ТСМ%20400%20белый%204-500x500.jpg',
                            'imgsrc': 'http://teploceramic.pro/image/cache/catalog/TCM%20400/ТСМ%20400%20белый%204-50x50.jpg',
                            'alt': ' Ceramic heater ТСМ'
                        },
                        {
                            'ahref': 'http://teploceramic.pro/image/cache/catalog/TCM%20400/%20400_1-500x500.jpg',
                            'imgsrc': 'http://teploceramic.pro/image/cache/catalog/TCM%20400/%20400_1-50x50.jpg',
                            'alt': ' Ceramic heater ТСМ'
                        }
                    ]
                },
                'middle': {
                    'type': 'Ceramic heater',
                    'model': 'TCM-400',
                    'select': [{
                            'value': '62',
                            'data-description': '62',
                            'data-imagesrc': 'images/white.png',
                            'name': 'White'
                        },
                        {
                            'value': '63',
                            'data-description': '62',
                            'data-imagesrc': 'images/black.png',
                            'name': 'Black '
                        },
                        {
                            'value': '76',
                            'data-description': '62',
                            'data-imagesrc': 'images/beg4905.png',
                            'name': 'Beige '
                        }
                    ]
                },
                'table': {
                    'Capacity': '400 W',
                    'Area': '8 m2',
                    'Regulator': '',
                    'Size': '600х600х14 mm',
                    'Voltage': '220 V'
                }
            },
            {
                'productid': '83',
                'left': {
                    'ahref': 'http://teploceramic.pro/image/cache/catalog/TCM%20400/%20370-500x500.jpg',
                    'imgsrc': 'http://teploceramic.pro/image/cache/catalog/TCM%20400/%20370-190x210.jpg',
                    'alt': 'Ceramic heater',
                    'ul': [{
                            'ahref': 'http://teploceramic.pro/image/cache/catalog/TCM-RA/beige-500x500.jpg',
                            'imgsrc': 'http://teploceramic.pro/image/cache/catalog/TCM-RA/beige-50x50.jpg',
                            'alt': 'Ceramic heater'
                        },
                        {
                            'ahref': 'http://teploceramic.pro/image/cache/catalog/TCM-RA/TCM%20500%20RA_b-500x500.jpg',
                            'imgsrc': 'http://teploceramic.pro/image/cache/catalog/TCM-RA/TCM%20500%20RA_b-50x50.jpg',
                            'alt': 'Ceramic heater'
                        }
                    ]
                },
                'middle': {
                    'type': 'Ceramic heater',
                    'model': '',
                    'select': [{
                            'value': '83',
                            'data-description': '83',
                            'data-imagesrc': 'images/white.png',
                            'name': ''
                        },
                        {
                            'value': '84',
                            'data-description': '83',
                            'data-imagesrc': 'images/.png',
                            'name': ' '
                        },
                        {
                            'value': '85',
                            'data-description': '83',
                            'data-imagesrc': 'images/.png',
                            'name': ' '
                        }
                    ]
                },
                'table': {
                    'Capacity': '500 W',
                    'Area': '10 m2',
                    'Regulator': '',
                    'Size': '600х600х15 mm',
                    'Voltage': '220 V'
                }
            },
            {
                'productid': '52',
                'left': {
                    'ahref': 'http://teploceramic.pro/image/cache/catalog/TCM_450/TCM_450_begmramor_49733/49733_1-500x500.jpg',
                    'imgsrc': 'http://teploceramic.pro/image/cache/catalog/TCM_450/TCM_450_begmramor_49733/49733_1-190x210.jpg',
                    'alt': 'Керамический обогреватель -бежевый мрамор 49733',
                    'ul': [{
                            'ahref': 'http://teploceramic.pro/image/cache/catalog/TCM_450/TCM_450_begmramor_49733/49733_4...-500x500.jpg',
                            'imgsrc': 'http://teploceramic.pro/image/cache/catalog/TCM_450/TCM_450_begmramor_49733/49733_4...-50x50.jpg',
                            'alt': 'Керамический обогреватель -бежевый мрамор 49733'
                        },
                        {
                            'ahref': 'http://teploceramic.pro/image/cache/catalog/TCM_450/TCM_450_begmramor_49733/49733_3-500x500.jpg',
                            'imgsrc': 'http://teploceramic.pro/image/cache/catalog/TCM_450/TCM_450_begmramor_49733/49733_3-50x50.jpg',
                            'alt': 'Керамический обогреватель -бежевый мрамор 49733'
                        },
                        {
                            'ahref': 'http://teploceramic.pro/image/cache/catalog/TCM_450/TCM_450_begmramor_49733/49733_7-500x500.jpg',
                            'imgsrc': 'http://teploceramic.pro/image/cache/catalog/TCM_450/TCM_450_begmramor_49733/49733_7-50x50.jpg',
                            'alt': 'Керамический обогреватель -бежевый мрамор 49733'
                        },
                        {
                            'ahref': 'http://teploceramic.pro/image/cache/catalog/TCM_600/metalic-500x500.jpeg',
                            'imgsrc': 'http://teploceramic.pro/image/cache/catalog/TCM_600/metalic-50x50.jpeg',
                            'alt': 'Керамический обогреватель -бежевый мрамор 49733'
                        }
                    ]
                },
                'middle': {
                    'type': 'Ceramic heater',
                    'model': 'ТСМ-450',
                    'select': [{
                            'value': '52',
                            'data-description': '52',
                            'data-imagesrc': 'images/white.png',
                            'name': 'white marble 49713'
                        },
                        {
                            'value': '54',
                            'data-description': '52',
                            'data-imagesrc': 'images/beg49103.png',
                            'name': 'beige marble 49103 '
                        },
                        {
                            'value': '55',
                            'data-description': '52',
                            'data-imagesrc': 'images/beg4905.png',
                            'name': 'beige marble 4905 '
                        },
                        {
                            'value': '56',
                            'data-description': '52',
                            'data-imagesrc': 'images/beg49202.png',
                            'name': 'beige marble 49202 '
                        },
                        {
                            'value': '57',
                            'data-description': '52',
                            'data-imagesrc': 'images/beg49733.png',
                            'name': 'beige marble 49733 '
                        }
                    ]
                },
                'table': {
                    'Capacity': '430 W',
                    'Area': '9 m2',
                    'Regulator': '',
                    'Size': '900х450х15 mm',
                    'Voltage': '220 V'
                }
            },
            {
                'productid': '86',
                'left': {
                    'ahref': 'http://teploceramic.pro/image/cache/catalog/TCM_450/TCM_450_begmramor_4905/4905_1-500x500.jpg',
                    'imgsrc': 'http://teploceramic.pro/image/cache/catalog/TCM_450/TCM_450_begmramor_4905/4905_1-190x210.jpg',
                    'alt': 'Керамический обогреватель - бежевый мрамор 49103',
                    'ul': [{
                            'ahref': 'http://teploceramic.pro/image/cache/catalog/TCM-RA/1-500x500.jpg',
                            'imgsrc': 'http://teploceramic.pro/image/cache/catalog/TCM-RA/1-50x50.jpg',
                            'alt': 'Керамический обогреватель - бежевый мрамор 49103'
                        },
                        {
                            'ahref': 'http://teploceramic.pro/image/cache/catalog/TCM-RA/4905_RA-500x500.jpg',
                            'imgsrc': 'http://teploceramic.pro/image/cache/catalog/TCM-RA/4905_RA-50x50.jpg',
                            'alt': 'Керамический обогреватель - бежевый мрамор 49103'
                        }
                    ]
                },
                'middle': {
                    'type': 'Ceramic heater',
                    'model': '',
                    'select': [{
                            'value': '86',
                            'data-description': '86',
                            'data-imagesrc': 'images/white.png',
                            'name': ''
                        },
                        {
                            'value': '87',
                            'data-description': '86',
                            'data-imagesrc': 'images/.png',
                            'name': ' '
                        },
                        {
                            'value': '88',
                            'data-description': '86',
                            'data-imagesrc': 'images/.png',
                            'name': ' '
                        },
                        {
                            'value': '89',
                            'data-description': '86',
                            'data-imagesrc': 'images/.png',
                            'name': ' '
                        },
                        {
                            'value': '90',
                            'data-description': '86',
                            'data-imagesrc': 'images/.png',
                            'name': ' '
                        }
                    ]
                },
                'table': {
                    'Capacity': '550 W',
                    'Area': '11 m2',
                    'Regulator': '',
                    'Size': '900х450х15 mm',
                    'Voltage': '220 V'
                }
            },
            {
                'productid': '64',
                'left': {
                    'ahref': 'http://teploceramic.pro/image/cache/catalog/TCM_600/697771_1-500x500.jpg',
                    'imgsrc': 'http://teploceramic.pro/image/cache/catalog/TCM_600/697771_1-190x210.jpg',
                    'alt': 'Ceramic heater - marble 697771',
                    'ul': [{
                            'ahref': 'http://teploceramic.pro/image/cache/catalog/TCM_600/697771_4%20(1)-500x500.jpg',
                            'imgsrc': 'http://teploceramic.pro/image/cache/catalog/TCM_600/697771_4%20(1)-50x50.jpg',
                            'alt': 'Ceramic heater - marble 697771'
                        },
                        {
                            'ahref': 'http://teploceramic.pro/image/cache/catalog/TCM_600/697771_3-500x500.jpg',
                            'imgsrc': 'http://teploceramic.pro/image/cache/catalog/TCM_600/697771_3-50x50.jpg',
                            'alt': 'Ceramic heater - marble 697771'
                        },
                        {
                            'ahref': 'http://teploceramic.pro/image/cache/catalog/TCM_600/697771_7-500x500.jpg',
                            'imgsrc': 'http://teploceramic.pro/image/cache/catalog/TCM_600/697771_7-50x50.jpg',
                            'alt': 'Ceramic heater - marble 697771'
                        },
                        {
                            'ahref': 'http://teploceramic.pro/image/cache/catalog/TCM_600/metalic-500x500.jpeg',
                            'imgsrc': 'http://teploceramic.pro/image/cache/catalog/TCM_600/metalic-50x50.jpeg',
                            'alt': 'Ceramic heater - marble 697771'
                        }
                    ]
                },
                'middle': {
                    'type': 'Ceramic heater',
                    'model': 'ТСМ-600',
                    'select': [{
                            'value': '64',
                            'data-description': '64',
                            'data-imagesrc': 'images/white.png',
                            'name': 'marble 692179'
                        },
                        {
                            'value': '65',
                            'data-description': '64',
                            'data-imagesrc': 'images/mramor692239.png',
                            'name': 'marble 692239 '
                        },
                        {
                            'value': '66',
                            'data-description': '64',
                            'data-imagesrc': 'images/mramor694425.png',
                            'name': 'marble 694425 '
                        },
                        {
                            'value': '67',
                            'data-description': '64',
                            'data-imagesrc': 'images/mramor695542.png',
                            'name': 'marble 695542 '
                        },
                        {
                            'value': '71',
                            'data-description': '64',
                            'data-imagesrc': 'images/mramor697771.png',
                            'name': 'marble 692168 '
                        },
                        {
                            'value': '75',
                            'data-description': '64',
                            'data-imagesrc': 'images/beg4905.png',
                            'name': 'marble 697771 '
                        }
                    ]
                },
                'table': {
                    'Capacity': '550 W',
                    'Area': '11 m2',
                    'Size': '900х600х17 mm',
                    'Voltage': '220 V'
                }
            },
            {
                'productid': '91',
                'left': {
                    'ahref': 'http://teploceramic.pro/image/cache/catalog/TCM_600/695542_1-500x500.jpg',
                    'imgsrc': 'http://teploceramic.pro/image/cache/catalog/TCM_600/695542_1-190x210.jpg',
                    'alt': 'Керамический обогреватель - мрамор 692239',
                    'ul': [{
                            'ahref': 'http://teploceramic.pro/image/cache/catalog/TCM-RA/695542_RA-500x500.jpg',
                            'imgsrc': 'http://teploceramic.pro/image/cache/catalog/TCM-RA/695542_RA-50x50.jpg',
                            'alt': 'Керамический обогреватель - мрамор 692239'
                        },
                        {
                            'ahref': 'http://teploceramic.pro/image/cache/catalog/TCM-RA/695542-500x500.jpg',
                            'imgsrc': 'http://teploceramic.pro/image/cache/catalog/TCM-RA/695542-50x50.jpg',
                            'alt': 'Керамический обогреватель - мрамор 692239'
                        }
                    ]
                },
                'middle': {
                    'type': 'Ceramic heater',
                    'model': '',
                    'select': [{
                            'value': '91',
                            'data-description': '91',
                            'data-imagesrc': 'images/white.png',
                            'name': ''
                        },
                        {
                            'value': '92',
                            'data-description': '91',
                            'data-imagesrc': 'images/.png',
                            'name': ' '
                        },
                        {
                            'value': '93',
                            'data-description': '91',
                            'data-imagesrc': 'images/.png',
                            'name': ' '
                        },
                        {
                            'value': '94',
                            'data-description': '91',
                            'data-imagesrc': 'images/.png',
                            'name': ' '
                        },
                        {
                            'value': '95',
                            'data-description': '91',
                            'data-imagesrc': 'images/.png',
                            'name': ' '
                        },
                        {
                            'value': '96',
                            'data-description': '91',
                            'data-imagesrc': 'images/.png',
                            'name': ' '
                        }
                    ]
                },
                'table': {
                    'Capacity': '750 W',
                    'Area': '15 m2',
                    'Regulator': '',
                    'Size': '900х600х17 mm',
                    'Voltage': '220 V'
                }
            },
            {
                'productid': '77',
                'left': {
                    'ahref': 'http://teploceramic.pro/image/cache/catalog/%20800/%20800%20beige.jpg-500x500.jpg',
                    'imgsrc': 'http://teploceramic.pro/image/cache/catalog/%20800/%20800%20beige.jpg-190x210.jpg',
                    'alt': 'ю.лждо',
                    'ul': [{
                            'ahref': 'http://teploceramic.pro/image/cache/catalog/%20800/%20800%20beige-500x500.jpg',
                            'imgsrc': 'http://teploceramic.pro/image/cache/catalog/%20800/%20800%20beige-50x50.jpg',
                            'alt': 'ю.лждо'
                        },
                        {
                            'ahref': 'http://teploceramic.pro/image/cache/catalog/%20800/%20800%20beige_3-500x500.jpg',
                            'imgsrc': 'http://teploceramic.pro/image/cache/catalog/%20800/%20800%20beige_3-50x50.jpg',
                            'alt': 'ю.лждо'
                        }
                    ]
                },
                'middle': {
                    'type': 'Ceramic heater',
                    'model': '',
                    'select': [{
                            'value': '77',
                            'data-description': '77',
                            'data-imagesrc': 'images/white.png',
                            'name': ''
                        },
                        {
                            'value': '78',
                            'data-description': '77',
                            'data-imagesrc': 'images/.png',
                            'name': ' '
                        },
                        {
                            'value': '79',
                            'data-description': '77',
                            'data-imagesrc': 'images/.png',
                            'name': ' '
                        },
                        {
                            'value': '80',
                            'data-description': '77',
                            'data-imagesrc': 'images/.png',
                            'name': ' '
                        },
                        {
                            'value': '81',
                            'data-description': '77',
                            'data-imagesrc': 'images/.png',
                            'name': ' '
                        },
                        {
                            'value': '82',
                            'data-description': '77',
                            'data-imagesrc': 'images/.png',
                            'name': ' '
                        }
                    ]
                },
                'table': {
                    'Capacity': '730 W',
                    'Area': '15 m2',
                    'Regulator': '',
                    'Size': '1200х600х18 mm',
                    'Voltage': '220 V'
                }
            },
            {
                'productid': '97',
                'left': {
                    'ahref': 'http://teploceramic.pro/image/cache/catalog/%20800/TCM800%20superweight-500x500.jpg',
                    'imgsrc': 'http://teploceramic.pro/image/cache/catalog/%20800/TCM800%20superweight-190x210.jpg',
                    'alt': 'ю.лждо',
                    'ul': [{
                            'ahref': 'http://teploceramic.pro/image/cache/catalog/TCM-RA/white%20RA-500x500.jpg',
                            'imgsrc': 'http://teploceramic.pro/image/cache/catalog/TCM-RA/white%20RA-50x50.jpg',
                            'alt': 'ю.лждо'
                        },
                        {
                            'ahref': 'http://teploceramic.pro/image/cache/catalog/TCM-RA/white-500x500.jpg',
                            'imgsrc': 'http://teploceramic.pro/image/cache/catalog/TCM-RA/white-50x50.jpg',
                            'alt': 'ю.лждо'
                        }
                    ]
                },
                'middle': {
                    'type': 'Ceramic heater',
                    'model': '',
                    'select': [{
                            'value': '97',
                            'data-description': '97',
                            'data-imagesrc': 'images/white.png',
                            'name': ''
                        },
                        {
                            'value': '98',
                            'data-description': '97',
                            'data-imagesrc': 'images/.png',
                            'name': ' '
                        },
                        {
                            'value': '99',
                            'data-description': '97',
                            'data-imagesrc': 'images/.png',
                            'name': ' '
                        },
                        {
                            'value': '100',
                            'data-description': '97',
                            'data-imagesrc': 'images/.png',
                            'name': ' '
                        },
                        {
                            'value': '101',
                            'data-description': '97',
                            'data-imagesrc': 'images/.png',
                            'name': ' '
                        }
                    ]
                },
                'table': {
                    'Capacity': '1000 W',
                    'Area': '20 m2',
                    'Regulator': '',
                    'Size': '1200х600х18 mm',
                    'Voltage': '220 V'
                }
            },
            {
                'productid': '103',
                'left': {
                    'ahref': 'http://teploceramic.pro/image/cache/catalog/9466-500x500.jpg',
                    'imgsrc': 'http://teploceramic.pro/image/cache/catalog/9466-190x210.jpg',
                    'alt': 'вів',
                    'ul': [{
                            'ahref': 'http://teploceramic.pro/image/cache/catalog/legs800-500x500.jpg',
                            'imgsrc': 'http://teploceramic.pro/image/cache/catalog/legs800-50x50.jpg',
                            'alt': 'вів'
                        },
                        {
                            'ahref': 'http://teploceramic.pro/image/cache/catalog/9465-500x500.jpg',
                            'imgsrc': 'http://teploceramic.pro/image/cache/catalog/9465-50x50.jpg',
                            'alt': 'вів'
                        },
                        {
                            'ahref': 'http://teploceramic.pro/image/cache/catalog/legs-500x500.jpg',
                            'imgsrc': 'http://teploceramic.pro/image/cache/catalog/legs-50x50.jpg',
                            'alt': 'вів'
                        },
                        {
                            'ahref': 'http://teploceramic.pro/image/cache/catalog/legs450-500x500.jpg',
                            'imgsrc': 'http://teploceramic.pro/image/cache/catalog/legs450-50x50.jpg',
                            'alt': 'вів'
                        },
                        {
                            'ahref': 'http://teploceramic.pro/image/cache/catalog/legs600-500x500.jpg',
                            'imgsrc': 'http://teploceramic.pro/image/cache/catalog/legs600-50x50.jpg',
                            'alt': 'вів'
                        }
                    ]
                },
                'middle': {
                    'type': 'вів',
                    'model': '',
                    'select': [{
                            'value': '103',
                            'data-description': '103',
                            'data-imagesrc': 'images/white.png',
                            'name': ''
                        },
                        {
                            'value': '103',
                            'data-description': '103',
                            'data-imagesrc': 'images/для всех моделей Теплокерамик.png',
                            'name': ' '
                        }
                    ]
                }
            }
        ]
    }