doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
  html.no-js.lt-ie9.lt-ie8
//if IE 8
  html.no-js.lt-ie9
// [if gt IE 8] <!
|
html.no-js
    // <![endif]
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title Sun Way &mdash; 100% Free Fully Responsive HTML5 Template by Sun Way
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='Sun Way Terminal')
        meta(name='keywords', content='free html5, free template, free bootstrap, html5, css3, mobile first, responsive')
        meta(name='author', content='Sun Way')
        // Facebook and Twitter integration
        meta(property='og:title', content='')
        meta(property='og:image', content='')
        meta(property='og:url', content='')
        meta(property='og:site_name', content='')
        meta(property='og:description', content='')
        meta(name='twitter:title', content='')
        meta(name='twitter:image', content='')
        meta(name='twitter:url', content='')
        meta(name='twitter:card', content='')
        // Place favicon.ico and apple-touch-icon.png in the root directory
        link(rel='shortcut icon', href='favicon.ico')
        //- link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Play:400,700&amp;subset=greek', rel='stylesheet', type='text/css')
        // Animate.css
        link(rel='stylesheet', href='css/animate.css')
        // Icomoon Icon Fonts
        link(rel='stylesheet', href='css/icomoon.css')
        // Simple Line Icons
        link(rel='stylesheet', href='css/simple-line-icons.css')
        // Owl Carousel
        link(rel='stylesheet', href='css/owl.carousel.min.css')
        |
        link(rel='stylesheet', href='css/owl.theme.default.min.css')
        // Bootstrap
        link(rel='stylesheet', href='css/bootstrap.css')
  
        link(rel='stylesheet', href='css/style.css')

        // Modernizr JS
        script(src='js/modernizr-2.6.2.min.js')
        // FOR IE9 below
        //if lt IE 9
          script(src='js/respond.min.js')
    |
    body
        header#fh5co-header(role='banner')
            .container
                // <div class="row">
                nav.navbar.navbar-default
                    .navbar-header
                        // Mobile Toggle Menu Button
                        a.js-fh5co-nav-toggle.fh5co-nav-toggle(href='#', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                            i
                        |
                        a.navbar-brand(href='index.html') 
                            img(src="images/logo.png", alt="Sun Way")
                    |
                    #navbar.navbar-collapse.collapse
                        ul.nav.navbar-nav.navbar-right
                            li.active
                                a(href='#', data-nav-section='home')
                                    span Αρχική
                            li
                                a(href='#', data-nav-section='about')
                                    span Τεχνολογία
                            li
                                a(href='#', data-nav-section='services')
                                    span Κατάλογος
                            li
                                a(href='#', data-nav-section='features')
                                    span Features
                            li
                                a(href='#', data-nav-section='testimonials')
                                    span Testimonials
                            li
                                a(href='#', data-nav-section='pricing')
                                    span Pricing
                            li
                                a(href='#', data-nav-section='press')
                                    span Press
                // </div>
        |
        #slider(data-section='home')
            .owl-carousel.owl-carousel-fullwidth
                // You may change the background color here.
                .item(style='background-image:url(images/1.jpg)')
                    .container(style='position: relative;')
                        .row
                            .col-md-7.col-sm-7
                                .fh5co-owl-text-wrap
                                    .fh5co-owl-text
                                        h1.fh5co-lead.to-animate Οικονομια
                                        |
                                        h2.fh5co-sub-lead.to-animate
                                            | μηνιαία εξοικονόμηση θέρμανσης
                                            |
                                            p.to-animate-2
                                                a.btn.btn-primary.btn-lg(href='#') View Case Study
                            |
                            .col-md-4.col-md-push-1.col-sm-4.col-sm-push-1.iphone-image
                                .iphone.to-animate-2
                                    img(src='images/bestPannel.png', alt='Sun Way Terminal')
                // You may change the background color here.
                .item(style='background-image:url(images/2.jpg)')
                    .container(style='position: relative;')
                        .row
                            .col-md-7.col-md-push-1.col-md-push-5.col-sm-7.col-sm-push-1.col-sm-push-5
                                .fh5co-owl-text-wrap
                                    .fh5co-owl-text
                                        h1.fh5co-lead.to-animate Case Study Title
                                        |
                                        h2.fh5co-sub-lead.to-animate
                                            | 100% Free Fully Responsive HTML5 Bootstrap Template. Crafted with love by the fine folks at
                                            a(href='http://Sun Way/', target='_blank') Sun Way
                                            |
                                            p.to-animate-2
                                                a.btn.btn-primary.btn-lg(href='#') View Case Study
                            |
                            .col-md-4.col-md-pull-7.col-sm-4.col-sm-pull-7.iphone-image
                                .iphone.to-animate-2
                                    img(src='images/bestPannel2.png', alt='Sun Way Terminal')
                |
                .item(style='background-image:url(images/3.jpg)')
                    .overlay
                    |
                    .container(style='position: relative;')
                        .row
                            .col-md-8.col-md-offset-2.text-center
                                .fh5co-owl-text-wrap
                                    .fh5co-owl-text
                                        h1.fh5co-lead.to-animate Οικολογια
                                        h2.fh5co-sub-lead.to-animate
                                            | Ομοιόμορφη κατανομή θερμότητας
                                            a(href='http://Sun Way/', target='_blank') Sun Way
                                            |
                                            p.to-animate-2
                                                a.btn.btn-primary.btn-lg(href='http://Sun Way/', target='_blank') Download This Template

                .item(style='background-image:url(images/4.jpg)')
                    .overlay
                    |
                    .container(style='position: relative;')
                        .row
                            .col-md-8.col-md-offset-2.text-center
                                .fh5co-owl-text-wrap
                                    .fh5co-owl-text
                                        h1.fh5co-lead.to-animate Οικονομία
                                        h2.fh5co-sub-lead.to-animate
                                            | Ομοιόμορφη κατανομή θερμότητας
                                            a(href='http://Sun Way/', target='_blank') Sun Way
                                            |
                                            p.to-animate-2
                                                a.btn.btn-primary.btn-lg(href='http://Sun Way/', target='_blank') Download This Template
        |
        |
        #fh5co-about-us(data-section='about')
            .container
                #about-us.row.row-bottom-padded-lg
                    .col-md-12.section-heading.text-center
                        h2.to-animate Πως λειτουργεί
                        |
                        .row
                            .col-md-8.col-md-offset-2.to-animate
                                p
                                    | Thermopanel συνδυάζει δύο τύπους θέρμανσης: υπέρυθρες ακτίνες μακρών κυμάτων και θερμική μεταφορά. 
                                    | Επιτρέποντας ομοιόμορφη θέρμανση του δωματίου και τη διατήρηση του άνετου μικροκλίματος.
                                    br
                                    | Η χρήση αντανακλαστικού φύλλου μαγνησίτη στα επαγγελματικά μας μοντέλα επέτρεψε την επίτευξη της μέγιστης μεταφοράς θερμικών κυμάτων μέσω της  κεραμικής επιφάνειας, βελτιώνοντας την ποιότητα και το περιβάλλον του θερμαντήρα μας
                    |
                    .col-md-12.to-animate
                        img.img-responsive.img-rounded.img-center(src='images/how-it-works.png', alt='Sun Way')
                        
                |
                #team.row
                    .col-md-12.section-heading.text-center.to-animate
                        h2 Team
                    |
                    .col-md-12
                        .row.row-bottom-padded-lg
                            .col-md-4.text-center.to-animate
                                .person
                                    img.img-responsive.img-rounded(src='images/person2.jpg', alt='Person')
                                    |
                                    h3.name John Doe
                                    |
                                    .position Web Developer
                                    |
                                    p
                                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.
                                    |
                                    ul.social.social-circle
                                        li
                                            a(href='#')
                                                i.icon-twitter
                                        |
                                        li
                                            a(href='#')
                                                i.icon-linkedin
                                        |
                                        li
                                            a(href='#')
                                                i.icon-instagram
                                        |
                                        li
                                            a(href='#')
                                                i.icon-github
                            |
                            .col-md-4.text-center.to-animate
                                .person
                                    img.img-responsive.img-rounded(src='images/person3.jpg', alt='Person')
                                    |
                                    h3.name Rob Smith
                                    |
                                    .position Web Designer
                                    |
                                    p
                                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.
                                    |
                                    ul.social.social-circle
                                        li
                                            a(href='#')
                                                i.icon-twitter
                                        |
                                        li
                                            a(href='#')
                                                i.icon-linkedin
                                        |
                                        li
                                            a(href='#')
                                                i.icon-instagram
                                        |
                                        li
                                            a(href='#')
                                                i.icon-dribbble
                            |
                            .col-md-4.text-center.to-animate
                                .person
                                    img.img-responsive.img-rounded(src='images/person4.jpg', alt='Person')
                                    |
                                    h3.name John Doe
                                    |
                                    .position Photographer
                                    |
                                    p
                                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.
                                    |
                                    ul.social.social-circle
                                        li
                                            a(href='#')
                                                i.icon-twitter
                                        |
                                        li
                                            a(href='#')
                                                i.icon-linkedin
                                        |
                                        li
                                            a(href='#')
                                                i.icon-instagram
                                        |
                                        li
                                            a(href='#')
                                                i.icon-github
        |
        #fh5co-our-services(data-section='services')
            .container
                .row.row-bottom-padded-sm
                    .col-md-12.section-heading.text-center
                        h2.to-animate Οικονομία
                        |
                        .row
                            .col-md-8.col-md-offset-2.to-animate
                                h3
                                    | Οι θερμαντήρες TEPLOCERAMIC λόγω της μεταγωγής και υπέρυθρης ακτινοβολίας, θερμαίνουν ομαλά το δωμάτιο, γεγονός που μπορεί να εξοικονομήσει σημαντική ενέργεια. Επιπλέον, οι πίνακες μας έχουν 4 φορές λιγότερη ισχύ σε σύγκριση με άλλους τύπους θερμαντήρων.
                |
                .row
                    .col-md-4
                        .box.to-animate
                            .icon.colored-1
                                span
                                    i.icon-dollar
                            |
                            h3  30% Εξοικονόμηση ενέργειας
                            |
                            //- p
                            //-     | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
                    |
                    .col-md-4
                        .box.to-animate
                            .icon.colored-2
                                span
                                    i.icon-umbrella
                            |
                            h3 30 χρόνια διάρκεια ζωής

                    |
                    .col-md-4
                        .box.to-animate
                            .icon.colored-4
                                span
                                    i.icon-shield
                            |
                            h3 5 Χρόνια Εγγύηση
                .row
                    .col-md-12
                        table.table.text-center.table-comparison
                            thead
                                tr
                                    th 
                                        |
                                    each val in ['Teploceramic','Θερμοπομπή θερμάστρα','Θερμάστρα πετρελαίου','Λέβητες Αερίου, ηλεκτρικού και στερεού καυσίμου']
                                        th= val
                            tbody
                                tr
                                    td 
                                        | Κόστος του εξοπλισμού και της εγκατάστασης για 50 m2
                                    td 
                                        span.pricing
                                            i.icon-euro
                                    td 
                                        span.pricing
                                            i.icon-euro
                                        | 
                                        span.pricing
                                            i.icon-euro
                                    td 
                                        span.pricing
                                            i.icon-euro
                                        | 
                                        span.pricing
                                            i.icon-euro
                                        | 
                                        span.pricing
                                            i.icon-euro
                                    td 
                                        span.pricing
                                            i.icon-euro
                                        | 
                                        span.pricing
                                            i.icon-euro
                                        | 
                                        span.pricing
                                            i.icon-euro
                                        | 
                                        span.pricing
                                            i.icon-euro
                                tr
                                    td 
                                        | Μηνιαίο κόστος θέρμανσης
                                    td 
                                        span.pricing
                                            i.icon-euro
                                    td 
                                        span.pricing
                                            i.icon-euro
                                        | 
                                        span.pricing
                                            i.icon-euro
                                        | 
                                        span.pricing
                                            i.icon-euro
                                        | 
                                        span.pricing
                                            i.icon-euro
                                    td 
                                        span.pricing
                                            i.icon-euro
                                        | 
                                        span.pricing
                                            i.icon-euro
                                    td 
                                        span.pricing
                                            i.icon-euro
                                        | 
                                        span.pricing
                                            i.icon-euro
                                        | 
                                        span.pricing
                                            i.icon-euro
                                tr
                                    each val in ['Σχεδιασμός και προσαρμογή',	'Διαφορετικά χρώματα, πάχος 15mm', 'Δύσκολο να χρησιμοποιηθεί στο σχεδιασμό', 'Δύσκολο να χρησιμοποιηθεί στο σχεδιασμό', 'Έξτρα δωμάτιο για λέβητες και σωλήνες']
                                        td= val
                                tr
                                    each val in ['Περιβάλλον και ασφάλεια', 'Δεν στεγνώνει τον αέρα ούτε αυξάνει τη σκόνη.', 'It burns oxygen, dries air, raises dust', 'Εκρηκτικό, στεγνώνει τον αέρα', 'Λειτουργία συνεπάγεται κινδύνους']
                                        td= val
                                tr
                                    each val in ['Εγγύηση και διάρκεια ζωής', '5 χρόνια, 30 χρόνια +', '1 χρόνο, 15 χρόνια', '1 χρόνο, 5 χρόνια',	'1 χρόνο, 15 χρόνια' ]
                                        td= val
        |

        #fh5co-features(data-section='features')
            .container
                .row
                    .col-md-12.section-heading.text-center
                        h2.single-animate.animate-features-1 Γιατι να επιλέξετε ηλεκτικό πάνελ; 
                        |
                        .row
                            .col-md-8.col-md-offset-2.single-animate.animate-features-2
                                p
                                    | TEPLOCERAMIC – these are compact and stylish electrical panels, made of natural materials, which are the modern alternative to traditional and expensive heating systems.
                                p 
                                    | Using innovative patented technologies, we created the new generation of professional heaters.
                |
                .row.row-bottom-padded-sm
                    .col-md-4.col-sm-6.col-xs-6.col-xxs-12.fh5co-service.to-animate
                        .fh5co-icon
                            i.icon-present
                        |
                        .fh5co-desc
                            h3 Economy
                            p
                                | Our panels have 4 times less power than oil heaters and convectors.
                                br
                                | Due to the uniform heating and long thermal wavelength they enable to save at least 30% in heating costs. 
                    |
                    .col-md-4.col-sm-6.col-xs-6.col-xxs-12.fh5co-service.to-animate
                        .fh5co-icon
                            i.icon-eye
                        |
                        .fh5co-desc
                            h3  Available
                            p Buying TEPLOCERAMIC, you get the high quality durable product of Ukrainian manufacturer at affordable price

                    |
                    .clearfix.visible-sm-block.visible-xs-block
                    |
                    .col-md-4.col-sm-6.col-xs-6.col-xxs-12.fh5co-service.to-animate
                        .fh5co-icon
                            i.icon-crop
                        |
                        .fh5co-desc
                            h3   Eco-friendly
                            |
                            p
                                | Ceramic electric panels have beneficial properties for human health. They are made of natural stone and have a therapeutic effect, known as "stone therapy".

                    |
                    .col-md-4.col-sm-6.col-xs-6.col-xxs-12.fh5co-service.to-animate
                        .fh5co-icon
                            i.icon-speedometer
                        |
                        .fh5co-desc
                            h3  Stylish design
                            |
                            p
                                | Heater TEPLOCERAMIC is compact and slim as the monitor (1.5 cm). It not only creates a comfortable indoor climate, but also fits into even the most modern interior.
                    |
                    .clearfix.visible-sm-block.visible-xs-block
                    |
                    .col-md-4.col-sm-6.col-xs-6.col-xxs-12.fh5co-service.to-animate
                        .fh5co-icon
                            i.icon-heart
                        |
                        .fh5co-desc
                            h3  Absolutely silent
                            |
                            p
                                | Only comfortable microclimate reminds about the presence of the heater.
                    |
                    .col-md-4.col-sm-6.col-xs-6.col-xxs-12.fh5co-service.to-animate
                        .fh5co-icon
                            i.icon-umbrella
                        |
                        .fh5co-desc
                            h3  Durability
                            |
                            p
                                | Just install and forget!
                                br
                                | 30 years - lifetime.
                                br
                                | 5 years - warranty.
                                br
                                | Heaters are resistant to voltage drops.
                    |
                    .clearfix.visible-sm-block.visible-xs-block
                |
        |
        #fh5co-testimonials(data-section='testimonials')
            .container
                .row
                    .col-md-6
                    .col-md-6
        #fh5co-testimonials(data-section='testimonials')
            .container
                .row
                    .col-md-12.section-heading.text-center
                        h2.to-animate Happy Clients Says...
                        |
                        .row
                            .col-md-8.col-md-offset-2.subtext.to-animate
                                h3
                                    | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                |
                .row
                    .col-md-4
                        .box-testimony.to-animate
                            blockquote
                                span.quote
                                    span
                                        i.icon-quote-left
                                |
                                p
                                    | &ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;
                            |
                            p.author
                                | John Doe, CEO
                                a(href='http://Sun Way/', target='_blank') Sun Way
                                |
                                span.subtext Creative Director
                    |
                    .col-md-4
                        .box-testimony.to-animate
                            blockquote
                                span.quote
                                    span
                                        i.icon-quote-left
                                |
                                p
                                    | &ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.&rdquo;
                            |
                            p.author
                                | John Doe, CEO
                                a(href='http://Sun Way/', target='_blank') Sun Way
                                |
                                span.subtext Creative Director
                    |
                    .col-md-4
                        .box-testimony.to-animate
                            blockquote
                                span.quote
                                    span
                                        i.icon-quote-left
                                |
                                p
                                    | &ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;
                            |
                            p.author
                                | John Doe, Founder
                                a(href='#') Sun Way
                                |
                                span.subtext Creative Director
        |
        #fh5co-pricing(data-section='pricing')
            .container
                .row
                    .col-md-12.section-heading.text-center
                        h2.single-animate.animate-pricing-1 Pricing
                        |
                        .row
                            .col-md-8.col-md-offset-2.subtext.single-animate.animate-pricing-2
                                h3
                                    | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                |
                .row
                    .col-md-3.col-sm-6
                        .price-box.to-animate
                            h2.pricing-plan Starter
                            |
                            .price
                                sup.currency $
                                | 7
                                small /mo
                            |
                            p Basic customer support for small business
                            |
                            hr
                            |
                            ul.pricing-info
                                li 10 projects
                                |
                                li 20 Pages
                                |
                                li 20 Emails
                                |
                                li 100 Images
                            |
                            a.btn.btn-default.btn-sm(href='#') Get started
                    |
                    .col-md-3.col-sm-6
                        .price-box.to-animate
                            h2.pricing-plan Regular
                            |
                            .price
                                sup.currency $
                                | 19
                                small /mo
                            |
                            p Basic customer support for small business
                            |
                            hr
                            |
                            ul.pricing-info
                                li 15 projects
                                |
                                li 40 Pages
                                |
                                li 40 Emails
                                |
                                li 200 Images
                            |
                            a.btn.btn-default.btn-sm(href='#') Get started
                    |
                    .clearfix.visible-sm-block
                    |
                    .col-md-3.col-sm-6.to-animate
                        .price-box.popular
                            .popular-text Best value
                            |
                            h2.pricing-plan Plus
                            |
                            .price
                                sup.currency $
                                | 79
                                small /mo
                            |
                            p Basic customer support for small business
                            |
                            hr
                            |
                            ul.pricing-info
                                li Unlimitted projects
                                |
                                li 100 Pages
                                |
                                li 100 Emails
                                |
                                li 700 Images
                            |
                            a.btn.btn-primary.btn-sm(href='#') Get started
                    |
                    .col-md-3.col-sm-6
                        .price-box.to-animate
                            h2.pricing-plan Enterprise
                            |
                            .price
                                sup.currency $
                                | 125
                                small /mo
                            |
                            p Basic customer support for small business
                            |
                            hr
                            |
                            ul.pricing-info
                                li Unlimitted projects
                                |
                                li Unlimitted Pages
                                |
                                li Unlimitted Emails
                                |
                                li Unlimitted Images
                            |
                            a.btn.btn-default.btn-sm(href='#') Get started
        |
        #fh5co-press(data-section='press')
            .container
                .row
                    .col-md-12.section-heading.text-center
                        h2.single-animate.animate-press-1 Press Releases
                        |
                        .row
                            .col-md-8.col-md-offset-2.subtext.single-animate.animate-press-2
                                h3
                                    | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                |
                .row 
                    .col-md-6
                        #main-product-images74.left
                            a.grouped_elements(data-fancybox-group='gallery74', href='http://teploceramic.pro/image/cache/catalog/TCM 400/ 370-500x500.jpg')
                                img.big(src='http://teploceramic.pro/image/cache/catalog/TCM%20400/%20370-190x210.jpg', alt='Ceramic heater')
                            ul
                                li
                                a.grouped_elements(data-fancybox-group='gallery74', href='http://teploceramic.pro/image/cache/catalog/TC_370/TC_370_beige/%20370_1-500x500.jpg')
                                    img.small(src='http://teploceramic.pro/image/cache/catalog/TC_370/TC_370_beige/%20370_1-50x50.jpg', alt='Ceramic%20heater')
                                li
                                a.grouped_elements(data-fancybox-group='gallery74', href='http://teploceramic.pro/image/cache/catalog/TC_370/TC_370_black/bsgat-500x500.jpg')
                                    img.small(src='http://teploceramic.pro/image/cache/catalog/TC_370/TC_370_black/bsgat-50x50.jpg', alt='Ceramic%20heater')

                .row
                    .col-md-6
                        // Press Item
                        .fh5co-press-item.to-animate
                            .fh5co-press-img(style='background-image: url(images/img_7.jpg)')
                            |
                            .fh5co-press-text
                                h3.h2.fh5co-press-title
                                    | Simplicity
                                    span.fh5co-border
                                |
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eius quos similique suscipit dolorem cumque vitae qui molestias illo accusantium...
                                |
                                p
                                    a.btn.btn-primary.btn-sm(href='#') Learn more
                        // Press Item
                    |
                    .col-md-6
                        // Press Item
                        .fh5co-press-item.to-animate
                            .fh5co-press-img(style='background-image: url(images/img_8.jpg)')
                            |
                            .fh5co-press-text
                                h3.h2.fh5co-press-title
                                    | Versatile
                                    span.fh5co-border
                                |
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eius quos similique suscipit dolorem cumque vitae qui molestias illo accusantium...
                                |
                                p
                                    a.btn.btn-primary.btn-sm(href='#') Learn more
                        // Press Item
                    |
                    |
                    .col-md-6
                        // Press Item
                        .fh5co-press-item.to-animate
                            .fh5co-press-img(style='background-image: url(images/img_9.jpg);')
                            |
                            .fh5co-press-text
                                h3.h2.fh5co-press-title
                                    | Aesthetic
                                    span.fh5co-border
                                |
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eius quos similique suscipit dolorem cumque vitae qui molestias illo accusantium...
                                |
                                p
                                    a.btn.btn-primary.btn-sm(href='#') Learn more
                        // Press Item
                    |
                    .col-md-6
                        // Press Item
                        .fh5co-press-item.to-animate
                            .fh5co-press-img(style='background-image: url(images/img_10.jpg);')
                            |
                            .fh5co-press-text
                                h3.h2.fh5co-press-title
                                    | Creative
                                    span.fh5co-border
                                |
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eius quos similique suscipit dolorem cumque vitae qui molestias illo accusantium...
                                |
                                p
                                    a.btn.btn-primary.btn-sm(href='#') Learn more
                        // Press Item
        |
        |
        footer#footer(role='contentinfo')
            .container
                .row.row-bottom-padded-sm
                    .col-md-12
                        p.copyright.text-center
                            | &copy; 2015 Free
                            a(href='index.html') Crew
                            | . All Rights Reserved.
                            br
                            |  Sun Way by
                            a(href='http://Sun Way/', target='_blank') Sun Way
                            |  | Images by
                            a(href='http://pexels.com/', target='_blank') Pexels
                            |  &amp;
                            a(href='http://unsplash.com/', target='_blank') Unsplash
                |
                .row
                    .col-md-12.text-center
                        ul.social.social-circle
                            li
                                a(href='#')
                                    i.icon-twitter
                            |
                            li
                                a(href='#')
                                    i.icon-facebook
                            |
                            li
                                a(href='#')
                                    i.icon-youtube
                            |
                            li
                                a(href='#')
                                    i.icon-pinterest
                            |
                            li
                                a(href='#')
                                    i.icon-linkedin
                            |
                            li
                                a(href='#')
                                    i.icon-instagram
                            |
                            li
                                a(href='#')
                                    i.icon-dribbble
        // jQuery
        script(src='js/jquery.min.js')
        // jQuery Easing
        script(src='js/jquery.easing.1.3.js')
        // Bootstrap
        script(src='js/bootstrap.min.js')
        // Waypoints
        script(src='js/jquery.waypoints.min.js')
        // Owl Carousel
        script(src='js/owl.carousel.min.js')
        // Main JS (Do not remove)
        script(src='js/main.js')
